+head
template(name='head')
  head
    title Charles Berman - Application Developer and Designer - Detroit, MI
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://fonts.googleapis.com/css?family=Raleway:900,700,100' rel='stylesheet' type='text/css')
      
template(name='appBody')
  .container
    #maindiv(class='{{isLoading}}')
      nav
        ul
          li
            a(href='#section-home') Home
          li
            a(href='#section-about') About Me
          li
            a(href='#section-work') Work
          li
            a(href='#section-skills') Skills
          li
            a(href='#section-contact') Contact
    section#section-home
      +home
    section#section-about.section-red
      +about
    section#section-work
      +work
    section#section-skills.section-red
      +skills
    section#section-contact
      +contact
