template(name='about')
	section#about.about-section.section-first
		.block-v1
			.container
				.row.content-boxes-v3
					.col-md-4.md-margin-bottom-30
						i.icon-custom.rounded-x.icon-bg-dark.fa.fa-lightbulb-o
						.content-boxes-in-v3
							h2.heading-sm Web Development
							p
								| We can help you with all of your web needs. From start to finish, we can provide you with all of your programming needs from Web to Mobile applications.
								| Full-Stack Web Apps, Android, iOS, Angular, Meteor and all industry standards.
					.col-md-4.md-margin-bottom-30
						i.icon-custom.rounded-x.icon-bg-dark.fa.fa-flask
						.content-boxes-in-v3
							h2.heading-sm Applications
							p
								| We can deliver an application framework to interface your needs. We deliver cutting edge solutions
								| that provide up to date information. 
					.col-md-4
						i.icon-custom.rounded-x.icon-bg-dark.fa.fa-bolt
						.content-boxes-in-v3
							h2.heading-sm Industrial Automation
							p
								| Our team has deep roots in Advanced robotics and controls. Wether you have a complicated project or a blank sheet of paper to start with.
								| We can help deliver the best solution for you.
		.about-image.bg-grey
			.container
				.title-v1
					h1 We are #{companyName}
					p
						| #{companyName} 
						strong creative
						|  technology company providing key digital services. 
						br
						|                     Focused on helping our clients 
						strong achieve
						|  success for their solutions.
				.img-center
				//- 	img.img-responsive(src='/images/mockup/mockup.png', alt='')
		.container.content-lg
			.title-v1
				h2 Our Vision And Mission
				p
					| We 
					strong meet
					|  and get to know you. You tell us and we listen. 
					br
					|                 We build your solutions to realize your vision and we 
					strong deliver
					|  the ready product.
			.row
				.col-md-6.content-boxes-v3.margin-bottom-40
					.clearfix.margin-bottom-30
						i.icon-custom.icon-md.rounded-x.icon-bg-u.icon-line.icon-trophy
						.content-boxes-in-v3
							h2.heading-sm Innovation Leader
							p
								| We have built our careers by working on ground breaking projects. Many times 
								| this has required us to create the solution from scratch and development of new technologies.
					.clearfix.margin-bottom-30
						i.icon-custom.icon-md.rounded-x.icon-bg-u.icon-line.icon-directions
						.content-boxes-in-v3
							h2.heading-sm Best Solutions & Approaches
							p
								| Our solutions are always designed with speed and robustness first, and always remaining 
								| flexible for expansion for your future needs.								
					.clearfix.margin-bottom-30
						i.icon-custom.icon-md.rounded-x.icon-bg-u.icon-line.icon-diamond
						.content-boxes-in-v3
							h2.heading-sm Quality Service & Support
							p
								| Our service and support is second to none. We provide global solutions around the clock.
				.col-md-6
					//- img.img-responsive(src='images/mockup/mockup1.png', alt='')
		.parallax-quote.parallaxBg
			.container
				.parallax-quote-in
					p
						| If you can design one thing 
						span.color-green you can design
						|  everything. 
						br
						|  Just Believe It.
					small - HtmlStream -
		.team-v1.bg-grey.content-lg
			.container
				.title-v1
					h2 Our Team
					p
						| We 
						strong meet
						|  and get to know you. You tell us and we listen. 
						br
						|                     We build your solutions to realise your vision and we 
						strong deliver
						|  the ready product.
				ul.list-unstyled.row
					+teamMembersTemplate
		//- .parallax-counter.parallaxBg
		//- 	.container
		//- 		.row
		//- 			.col-sm-3.col-xs-6
		//- 				.counters
		//- 					span.counter 10629
		//- 					h4 Users
		//- 			.col-sm-3.col-xs-6
		//- 				.counters
		//- 					span.counter 277
		//- 					h4 Projects
		//- 			.col-sm-3.col-xs-6
		//- 				.counters
		//- 					span.counter 78
		//- 					h4 Team Members
		//- 			.col-sm-3.col-xs-6
		//- 				.counters
		//- 					span.counter 109
		//- 					h4 Awards
