template(name="bodyTemplate")
	// === Header ===
	+menu
	+intro
	+about
	+services
	+newsSection
	+aboutSection
	// End Portfolio Section
	// Contact Section
	+contactsSection
	// End Contact Section
	// JS Global Compulsory

template(name="missionStatement")
	p
		| We do 
		strong things
		|  differently company providing key digital services. 
		br
		|                 Focused on helping our clients to build a 
		strong successful
		|  business on web and mobile.