template(name='newsSection')
	section#news.news-section
		.container.content-lg
			.title-v1
				h2 Latest News
				+missionStatement
			.row.news-v1
				.col-md-4.md-margin-bottom-40
					.news-v1-in
						img.img-responsive(src='images/img1.jpg', alt='')
						h3
							a(href='#') Focused on helping our clients to build a successful business
						p
							| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
						ul.list-inline.news-v1-info
							li
								span By
								a(href='#') Kathy Reyes
							li |
							li
								i.fa.fa-clock-o
								|  July 02, 2014
							li.pull-right
								a(href='#')
									i.fa.fa-comments-o
									|  14
				.col-md-4.md-margin-bottom-40
					.news-v1-in
						img.img-responsive(src='images/img4.jpg', alt='')
						h3
							a(href='#') We build your website to realise your vision and best product
						p
							| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
						ul.list-inline.news-v1-info
							li
								span By
								a(href='#') John Clarck
							li |
							li
								i.fa.fa-clock-o
								|  July 02, 2014
							li.pull-right
								a(href='#')
									i.fa.fa-comments-o
									|  07
				.col-md-4
					.news-v1-in
						img.img-responsive(src='images/img3.jpg', alt='')
						h3
							a(href='#') Focused on helping our clients to build a successful business
						p
							| At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
						ul.list-inline.news-v1-info
							li
								span By
								a(href='#') Tina Kruiger
							li |
							li
								i.fa.fa-clock-o
								|  July 02, 2014
							li.pull-right
								a(href='#')
									i.fa.fa-comments-o
									|  22
		.parallax-twitter.parallaxBg
			.container.parallax-twitter-in
				.margin-bottom-30
					i.icon-custom.rounded-x.icon-bg-blue.fa.fa-twitter
				.row
					.col-md-8.col-md-offset-2
						ul.list-unstyled.owl-twitter-v1
							li.item
								p
									| Unify has reached 10000 plus sales and we just want to thank you to our all customers for being part of the Unify Template success 
									a(href='http://bit.ly/1c0UN3Y') http://bit.ly/1c0UN3Y
								p
									span
										| 3 min ago via 
										a(href='https://twitter.com/htmlstream') @htmlstream
							li.item
								p
									a(href='#') @htmlstream
									|  jQuery lightGallery - Lightweight jQuery lightbox gallery for displaying image and video gallery 
									a(href='#') http://sachinchoolur.github.io/lightGallery
									a(href='#') #javascript
								span
									| 10 min ago Retweeted by 
									a(href='https://twitter.com/htmlstream') @twbootstrap
							li.item
								p
									| New 100% Free Stock Photos. Every. Single. Day. Everything you need for your creative projects. 
									a(href='#') http://publicdomainarchive.com
								span
									| 30 min ago via 
									a(href='https://twitter.com/htmlstream') @wrapbootstrap
