template(name="services")
	// Services Section
	section#services
		.container.content-lg
			.title-v1
				h2 Our Services
				+missionStatement
			.row.service-box-v1
				.col-md-4.col-sm-6
					.service-block.service-block-default
						i.icon-custom.icon-lg.icon-bg-u.rounded-x.fa.fa-lightbulb-o
						h2.heading-md Web Design & Development
						p
							| Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus
						ul.list-unstyled
							li Logo & Brand Design
							li Mobile Development
							li E-commerce
							li App & Icon Design
							li Responsive Web Design
				.col-md-4.col-sm-6
					.service-block.service-block-default
						i.icon-custom.icon-lg.icon-bg-u.rounded-x.icon-line.icon-present
						h2.heading-sm Marketing & Consulting
						p
							| Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus
						ul.list-unstyled
							li Analysis & Consulting
							li Mobile Development
							li Email Marketing
							li App & Icon Design
							li Responsive Web Desgin
				.col-md-4.col-sm-12
					.service-block.service-block-default
						i.icon-custom.icon-lg.icon-bg-u.rounded-x.icon-line.icon-rocket
						h2.heading-sm SEO & Advertising
						p
							| Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus
						ul.list-unstyled
							li Google AdSense
							li Social Media
							li Display Advertising
							li App & Icon Design
							li Analysis & Consulting
		ul.list-unstyled.row.portfolio-box-v1
			li.col-sm-4
				img.img-responsive(src='/images/mockup/img1.jpg', alt='')
				.portfolio-box-v1-in
					h3 Collective Package
					p Web Design, Mock-up
					a.btn-u.btn-u-sm.btn-brd.btn-brd-hover.btn-u-light(href='#') Read More
			li.col-sm-4
				img.img-responsive(src='/images/mockup/img2.jpg', alt='')
				.portfolio-box-v1-in
					h3 Ahola Company
					p Brand Design, UI
					a.btn-u.btn-u-sm.btn-brd.btn-brd-hover.btn-u-light(href='#') Read More
			li.col-sm-4
				img.img-responsive(src='/images/mockup/img4.jpg', alt='')
				.portfolio-box-v1-in
					h3 Allan Project
					p Web Development, HTML5
					a.btn-u.btn-u-sm.btn-brd.btn-brd-hover.btn-u-light(href='#') Read More
		.call-action-v1
			.container
				.call-action-v1-box
					.call-action-v1-in
						p
							| #{companyName} creative technology company providing key digital services and focused on helping our clients to build a successful business on web and mobile.
					.call-action-v1-in.inner-btn.page-scroll
						a.btn-u.btn-brd.btn-brd-hover.btn-u-dark.btn-u-block(href='#portfolio') View Our Portfolio
