template(name='about')
  .about(data-scroll-reveal='')
    .avatar
      img(src='avatar.jpg')
    p(data-scroll-reveal='wait 0.4s enter top 50px over 1.33s')
      | I Develop Applications for 
      a(href='http://www.kuka-systems.com/usa_nao/en/') Kuka
      | ,
      br
      |       My previous work includes developing advanced robotics for Space, Aerospace, Logistics, and Automotive industries.
      br
      |       I also develop Mobile Applications
      br
      |       Member of 
      a(href='https://plus.google.com/116487477821397039229/posts') Google Developer Group Detroit
      br
    a.more(href='#section-work')
      | My Work
      i.fa.fa-arrow
