template(name='home')
	.home(data-scroll-reveal='')
	.logo(data-scroll-reveal='wait 1.0s and then enter top ease-in-out 20px')
		i.fa.fa-bolt
	h1.welcome-heading(data-scroll-reveal='wait 1.2s and then enter top ease-in-out 20px')
		small Hi, I'm Charles Berman
		em I'm an Applications developer
	a.more(href='#section-about')
		| About Me
		.row
			i.fa.fa-chevron-down
