template(name='skills')
  .skills(data-scroll-reveal='')
    .meteor
      img(src='images/meteor.png')
    p
      | I'm a full stack designer and developer with over 15 years of experience building web and mobile applications. My current technology of choice is 
      a(href='http://meteor.com') Meteor.js
      |  and 
      a(href='https://www.polymer-project.org/') Polymer
    p
      | I have designed software architecture for many advanced robotic applications, many of which involved developing new technologies for bringing new applications to the forefront of technology.
    p
      a.resume-button(href='static/NickWientgeResume.pdf', data-scroll-reveal='wait 0.6s enter top 50px over 1.33s')
        i.fa.fa-resume
        |  Download My Resume
    a.more(href='#section-contact')
      | Contact Me
      i.fa.fa-arrow
