template(name='work')
  .work(data-scroll-reveal='')
    h2 What I'm Working On
    .work-links
      a.work-link(href='https://github.com/mookiejones' target='_blank' data-scroll-reveal='wait 1.1s enter top 50px over 1.33s')
        i.fa.fa-github
        h4
          | Code
          small on Github
    a.more(href='#section-skills')
      | My Skills
      i.fa.fa-arrow
 